@import "../components/compass-twitter-bootstrap/stylesheets/compass_twitter_bootstrap", "../components/font-awesome/sass/font-awesome.sass";

.panel {
  background-color: $white;
  border: 1px solid $grayLighter;
  .panel-header {
    font-size: 14px;
    min-height: 23px;
    color: $grayLighter;
    font-weight: bold;
    overflow: hidden;
    padding-top: 2px;
    padding-right: 2px;
    padding-left: 2px;
    background-color: $blue;
  }
  .panel-body {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.floating {
  position: absolute;
  margin-left: 0;
  @include box-shadow($grayLight 1px 2px 17px);
  &.left {
    @include border-radius(0 $baseBorderRadius $baseBorderRadius 0);
    left: 0;
    .panel-header {
      @include border-top-right-radius($baseBorderRadius);
    }
    .panel-title {
      padding-right: 50px;
    }
  }
  &.right {
    @include border-radius($baseBorderRadius 0 0 $baseBorderRadius);
    right: 0;
    .panel-header {
      @include border-top-left-radius($baseBorderRadius);
    }
    .panel-title {
      padding-left: 50px;
    }
  }
}